
body{
padding: 100px;
}


#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

#Logo{
    position: absolute;
    margin-top: 20px; 
    font-size: 30px;
    text-decoration: none;
    display: flex;
    top:30px;
}

.icon{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    padding:0.5rem;
}


main{
    grid-area: main;
}


.flex-section{
    display: flex;
}

#Utvalg{
    text-align: center;
    margin: 50px;

}

ul {
    list-style-type: none;
    gap: 20px; 
    display: flex;
    flex-wrap: wrap;
}


.black-btn {
    display: flex;
    width: 120px; 
    height: 120px; 
    text-decoration: none;
    background-color: rgb(114, 243, 255);
    color: #000000;
    border-radius: 20px;  
    font-weight: 100;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.navbar{
    display: flex;
    gap: 2rem;
    list-style: none;
}


footer{
    grid-area: footer;
}


@media only screen and (min-width:600px){
    #grid-container{
        grid-template-areas: "header header header" ". main ." "footer footer footer";

    }
    
    .navbar{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        list-style: none;
        margin: 0;
    }

    .flex-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .flex-section img{
        width: 50%;
    }

    .flex-section section{
        width: 40%;
        align-self: center;
        padding: 1rem;
    }

    .right img{
        order: 1;
    }
    

}

