
body{
padding: 100px;
}

#body-produkt{
    padding: 2px; 
}

#plasering{
    padding:10rem;
}


#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
}

#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";

}

header{
    font-size: 1rem;
    font-weight: 200;
    grid-area: header;
    text-align: center; 
    padding: 10px;
}

#Logo{
    position: absolute;
    margin-top: 20px;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    right: 7.6rem;
    top: 0;
}

.icon-pc{
    display: flex;
    position: absolute;
    justify-content: space-around;
    right: 5.4rem;
    gap: 220px;
    top: 7.7rem;
}
 

#trashcan{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 15.8rem;
    top: 20rem;
}


.navbar{
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: space-between;
    padding: 0.5rem;
}

#Utvalg{
    text-align: center;
    margin: 50px;

}

#hk-overskrift{
    display: flex;
    position: absolute;
    right: 9.3rem;
    font-size: 25px;
    top: 4.5rem;
}


main{
    grid-area: main;
}

.shoe-img{
    display: flex;
    width: 150px;
    height: 150px;
    padding: 13rem;
    flex-direction: column;
}

#handlekurv-img{
    height: 120px;
    padding: 3.7rem;
    width: 120px;
    position: absolute;
    right: 6rem;
}

.Info{
    font-size: 15px;
    position: absolute;
    right: 4rem;
    top: 10.4rem;
}

ul {
    list-style-type: none;
    gap: 20px; 
    display: flex;
    flex-wrap: wrap;
}


.black-btn {
    display: flex;
    width: 120px; 
    height: 120px; 
    text-decoration: none;
    background-color: rgb(114, 243, 255);
    color: #000000;
    border-radius: 20px;  
    font-weight: 100;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
}




footer{
    grid-area: footer;
}


@media only screen and (min-width:600px){
   
    body{
     
    }

    #grid-container{
        grid-template-areas: "header header header" ". main ." "footer footer footer";

    }


    .icon-pc{
        display: flex;
        justify-content: space-between;
        margin: 0.5rem;
        padding: 0.5rem;
        position: absolute;
        top: 14px;
        right: 36.3rem;
        gap: 218px;
        }
    

    #Logo{
        position: absolute;
        margin-top: 20px;
        font-size: 30px;
        text-decoration: none;
        display: flex;
        right: 39rem;
    }

    

}

